<!-- <div>{{ appState$ | async | json }}</div> -->
<ng-container>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage Servers</h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i> 
                            <span>Add New Server</span>
                        </a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
                            <i class="material-icons">&#xE15C;</i> 
                            <span>Delete Server</span>
                        </a>			
                        <span>
							<!-- (ngModelChange)="filterServers($event)" ngModel="ALL" -->
                            <select [value]="Status.ALL" (change)="filterServers($event)" 
							name="status" class="btn btn-info" style="height: 32.91px;">
                                <option [value]="Status.ALL">ALL</option>
                                <option [value]="Status.SERVER_UP">SERVER UP</option>
                                <option [value]="Status.SERVER_DOWN">SERVER DOWN</option>
                            </select>
                        </span>			
					</div>
				</div>
			</div><br>
            <!--  async pipe subscribes to appState observable-->
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
				<!-- IN CASE OF LOADING WE ARE GOING TO SHOW THIS PIECE OF UI -->
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <div class="col-md-12 single-note-item text-center">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <table class="table table-striped table-hover" id="servers">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>IP Address</th>
                                <th>Name</th>
                                <th>Memory</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Ping</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let server of appState.appData.data.servers;">
                            <tr>
                                <td><img [src]="server.imageUrl" [alt]="server.name"  width="50" height="50"> </td>
                                <td>{{server.ipAddress}}</td>
                                <td>{{server.name}}</td>
                                <td>{{server.memory}}</td>
                                <td>{{server.type}}</td>
                                <td>
                                    <span class="badge"
										[ngClass]="[server.status === Status.SERVER_UP ? ' badge-success' : ' badge-danger']"
									>
										{{ server.status === Status.SERVER_UP ? "SERVER UP" : "SERVER DOWN" }}
									
									</span>
									
                                </td>
                                <td>
                                    <a (click)="pingServer(server.ipAddress)" style="cursor: pointer;">

                                        <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress "
										class="material-icons" title="Ping server">&#xe328;</i>
                                        <i  *ngIf="(filterStatus$ | async) === server.ipAddress"
										class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                                    
									</a>
                                </td>
                                <td>
                                    <a class="delete" data-toggle="modal" style="cursor: pointer;">
                                        <i class="material-icons" data-toggle="modal" title="Delete">&#xE872;</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            
                </ng-container>
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="alert-danger">
                        {{ appState.error }}
                    </div>
                </ng-container>
            </ng-container>
            <!--  -->
		</div>
	</div>        
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Add Server</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Ip Address</label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Memory</label>
						<textarea class="form-control" required></textarea>
					</div>
					<div class="form-group">
						<label>Type</label>
						<input type="text" class="form-control" required>
					</div>		
                    <div class="form-group">
						<label>Status</label>
						<input type="text" class="form-control" required>
					</div>	

				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Edit Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea class="form-control" required></textarea>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>
</ng-container>